.container{
    max-width: 120rem; //ocupy no more than 1200px
    margin: 8rem auto; //top-bottom / right-left
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    //This is the parent element, so we will use flex
    display: flex;
    //Element horizontal alignment in flex
    justify-content: space-between;
    //Vertical alignment
    align-items: center;
}

.content{
    display: flex; //defining flexbox for the parent element
}

.sidebar{
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; //grow - shrink - basis / defining how this box will react in flex
    //Make elements to go to extreme sides but vertically
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    background-color: #fff;
    flex: 1; // this element should grow as much as it can
}